<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <% if(locals.user){%>
    <a href="/folder/view/<%=rootId%>">Root Folder</a>
    <a href="/auth/logout">Logout</a>
    <%}else{%>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <%}%>
  </body>
</html>
